<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/songs/add}" method="post">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="genre" placeholder="Genre" required>
        <input type="text" name="releaseYear" placeholder="Release Year" required>
        <select name="albumId" required>
            <option th:each="album : ${albums}" th:value="${album.getId()}" th:text="${album.getName()}"></option>
        </select>
        <button type="submit">Save</button>
    </form>
</body>
</html>